Error_Type.json
{
  "name": "Error_Type",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        688
      ],
      "id": "0c8ecc09-4e18-4644-bdd6-7f878a465811",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "content": "## 2) Retry On Failure",
        "height": 384,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        960
      ],
      "typeVersion": 1,
      "id": "22f40002-dd01-44f0-85eb-28940d4d52fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 4) Continue on error",
        "height": 384,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        1792
      ],
      "typeVersion": 1,
      "id": "80190280-f212-42e2-8803-dbe811cae0b8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 3) Errors on Chat Models (Fallback system)",
        "height": 416,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        1360
      ],
      "typeVersion": 1,
      "id": "53e40569-d6af-4089-ac84-10ca0c41c9f0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        1456
      ],
      "id": "a1d78c0b-4fb3-49c8-b6a6-03ac18697619",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        1456
      ],
      "id": "e36d2289-f6a6-4609-9378-d6ca5458604c",
      "name": "When chat message received",
      "webhookId": "89220545-0b5f-443e-97c3-9f3e49bf4ee3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 1) Error trigger -> Error_Workflow",
        "height": 416,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        528
      ],
      "typeVersion": 1,
      "id": "358185cd-fe27-4890-a744-9efd993549ca",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "subject": "=🚨 Error en n8n | {{ $json.workflow.name }}",
        "emailType": "text",
        "message": "=Se ha producido un error en uno de tus workflows de n8n.  \n\n🔸 Fecha y hora: {{ $now.format(\"yyyy-MM-dd HH:mm:ss\") }}\n🔸 Workflow: {{ $json.workflow.name }}\n🔸 Nodo que falló: {{ $json.execution.error.node.name }}\n🔸 Tipo de error: {{ $json.execution.error.name }}\n🔸 Mensaje del error: {{ $json.execution.error.message }}\n🔸 Detalle técnico: {{ $json.execution.error.messages[0] }}\n\n🔗 Ver ejecución completa: {{ $json.execution.url }}  \n\n\n--- Este mensaje se ha generado automáticamente desde el Error Trigger de n8n. ---",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -16,
        784
      ],
      "id": "e83aad0c-4dcf-4949-88b0-e5e0da6b482c",
      "name": "Report an error",
      "webhookId": "36fa9ef0-088b-4309-8b83-ea1c7cca9b8f",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcc9OOHeSy2RJv1j",
          "name": "COMPARTIR"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "-DEoa0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format(\"yyyy-MM-dd HH:mm:ss\") }}",
            "workflow_name": "={{ $json.workflow.name }}",
            "node_name": "={{ $json.execution.error.node.name }}",
            "execution_url": "={{ $json.execution.url }}",
            "error_name": "={{ $json.execution.error.name }}",
            "error_message": "={{ $json.execution.error.message }}",
            "error_description": "={{ $json.execution.error.messages[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "node_name",
              "displayName": "node_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_url",
              "displayName": "execution_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_name",
              "displayName": "error_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_description",
              "displayName": "error_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        592
      ],
      "id": "45f0d151-98bb-47b5-af53-2b23f9c3a857",
      "name": "Error_Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RvFRtFPz13fxB6dN",
          "name": "COMPARTIR"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        1088
      ],
      "id": "ae29d4aa-b439-40c7-8ebf-c4be1d5b1841",
      "name": "Update file",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yWjEOZbrSn4HKSJ",
          "name": "Google Drive account_Clinikia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1024
      ],
      "id": "60308f83-eb1e-41f9-af0b-8e93e3841769",
      "name": "Code in JavaScript",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Logic",
        "height": 352,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        976
      ],
      "typeVersion": 1,
      "id": "81cce4c5-5389-4b1d-808f-fd83787a0cc7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "241381fc-c5fd-445f-8916-9cc5f23f9a9b"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        1168
      ],
      "id": "158d1e19-edaf-4b46-99bb-2ddbdbbb982d",
      "name": "Switch",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## HTTP Request errors\n\n🔸400 - Bad Request\n🔸404 - Not Found\n🔸401/403 - Autenticación\n\n🔹 5xx – Errores del servidor\n🔹 429 – Rate limit\n🔹 Timeout / error de red",
        "height": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        960
      ],
      "typeVersion": 1,
      "id": "78ed0ec3-7f02-45f3-862b-c4541d783648",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "https://api.qrserver.com/v1/create-qr-code/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "datas",
              "value": "123456"
            },
            {
              "name": "size",
              "value": "300x300"
            },
            {
              "name": "format",
              "value": "png"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        1088
      ],
      "id": "0e9c8901-9a28-45d9-8674-7675bb81f3ea",
      "name": "Generar QR",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        1632
      ],
      "id": "3b9a62b0-9471-4023-889f-613cec05aadc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "o3PWEFQDWli5bvLE",
          "name": "COMPARTIR"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        1632
      ],
      "id": "28889493-779e-4584-b14f-a6b095ed0bba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XgzxhuF0XzDK7lVl",
          "name": "Prueba_Error"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        1904
      ],
      "id": "6cd55173-1950-41a6-b7b9-73feb3196c82",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "ERROR HANDLING",
        "emailType": "text",
        "message": "Hola! Esto es un email de prueba!😉",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        1968
      ],
      "id": "c691465e-c6ea-4773-9d16-16a4cefaeb04",
      "name": "Send a message",
      "webhookId": "4fa33345-d9c4-4da7-ab34-46356a8c9f9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcc9OOHeSy2RJv1j",
          "name": "COMPARTIR"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "OQEgrInMEcRKgzbJ",
          "mode": "list",
          "cachedResultName": "CRM - ERROR",
          "cachedResultUrl": "/projects/1xaqFNlQJia6c0QU/datatables/OQEgrInMEcRKgzbJ"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -128,
        1904
      ],
      "id": "6f44400e-d521-438d-bb5f-5c14bf4cf50b",
      "name": "(CRM 1)"
    },
    {
      "parameters": {
        "content": "## 5) Continue on error (using error output)",
        "height": 384,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        2192
      ],
      "typeVersion": 1,
      "id": "d17d6275-b7d8-4234-ad0d-5491e2211d09",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "ERROR HANDLING",
        "emailType": "text",
        "message": "Hola! Esto es un email de prueba!😉",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        2352
      ],
      "id": "ab1bac61-84cc-4d84-a445-0128a220c2a1",
      "name": "Send a message2",
      "webhookId": "b3767a7f-aafe-4b9e-adfd-4d5b66985718",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcc9OOHeSy2RJv1j",
          "name": "COMPARTIR"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        2288
      ],
      "id": "a8d01482-cab7-406f-86a8-a96f755b7653",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "OQEgrInMEcRKgzbJ",
          "mode": "list",
          "cachedResultName": "CRM - ERROR",
          "cachedResultUrl": "/projects/1xaqFNlQJia6c0QU/datatables/OQEgrInMEcRKgzbJ"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -128,
        2288
      ],
      "id": "c6aab857-7577-49a1-804c-17f83d38527a",
      "name": "(CRM 2)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        1904
      ],
      "id": "27496d4b-e9d8-4ca1-882d-9cd604a81314",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error_Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Report an error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(CRM 1)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(CRM 2)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "(CRM 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "M9tH8hNjolouTx82"
  },
  "versionId": "cdb85c9a-fabb-457e-a55d-3b784532f0eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdd2a04e77dd118a7dac7a64df1cb3a17ddff619bff6ac9dfb38fce2334b9cf7"
  },
  "id": "KwYuZYrfiQhRUFtL",
  "tags": []
}